@font-face {
font-family: 'SFJ_weibeit509012';
src: url('SFJ_weibeit.eot');
src: url('SFJ_weibeit.eot?#iefix') format('embedded-opentype'),
     url('SFJ_weibeit.woff') format('woff'),
     url('SFJ_weibeit.ttf') format('truetype'),
     url('SFJ_weibeit.svg#SFJ_weibeit') format('svg');
    font-weight: normal;
    font-style: normal;
   }